.login-container {
    max-width: 800px;
    margin: 2em auto 0;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .login-container div {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
  }
  
  label {
    width: 50%;
    margin-bottom: 0;
  }
  
  input,
  select,
  textarea {
    padding: 0.5em;
    margin-bottom: 0.5em;
  }

  input{
    width:70% ;
  }
  
  textarea {
    width: 100%;
    resize: vertical; /* Allow resizing of the textarea */
  }
  
  .qualification-container {
    flex-direction: column;
  }
  
  .qualification {
    display: inline-grid;
    align-items: center;
    margin-bottom: 0.5em;
  }
  .qualification label{
    width: 100%;
  }
  
  .dropdown1 {
    width: 150px;
    margin-right: 1em;
  }
  
  .qualification input{
    margin-left: 1em;
    width: 50%;
  }
  
  .qualification button {
    width: 30px;
    padding: 0.3em;
    margin-left: 0.5em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button {
    padding: 0.7em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #ccc;
  }
  
  h3 {
    margin-top: 2em;
    color: #007bff;
  }
  .error-container {
    display: flex;
    justify-content: flex-end; /* Aligns content to the end of the container */
    margin: auto;
  }
  
   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }


